
header{
    background: #2525bc;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float:center;
}
body{
    background: #e0e0e2;
}
section li{
    display: inline;
}
section img{
    border: 3px groove blue;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    margin: 30px;
}
div li{
    border: 3 solid black;
}